
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    max-width: 800px;
    padding: 2rem;
    display: block;
    margin: 0 auto;
}

#note{
    width: 100%;
    font-size: 1.2rem;
    padding: 0.2rem;
    border: 1px solid rgb(238, 172, 50);
}

#noteBtn{
    padding: 0.75rem 1rem;
    float: right;
    background-color: aquamarine;
    border: 1px solid #fff;
    transition: 0.3s;
    cursor: pointer;
}

#noteBtn:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid aquamarine;
}


.myNotes{
    border: 1px solid #f350f3;
    padding: 1rem 0.5rem;
    margin-top: 3rem;
}
.myNotes h3{
    padding: 0.5rem 0;
}


#myNotes > div{
    background-color: rgb(230, 231, 231);
    margin: 1rem 0;
    padding: 0.5rem;
}

.delete{
    /* color: red; */
    cursor: pointer;
}

.delete:hover{
    text-decoration: underline;
}

