
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    max-width: 500px;
    padding: 2rem;
}

#note{
    width: 100%;
    font-size: 1.2rem;
    padding: 0.2rem;
}

#noteBtn{
    padding: 0.75rem 1rem;
    float: right;
    background-color: aquamarine;
    border: 1px solid #fff;
    transition: 0.3s;
    cursor: pointer;
}

#noteBtn:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid aquamarine;
}

